In [1]:
import wrds

import pandas as pd
import numpy as np

c:\Users\YeonChan Kang\anaconda3\envs\fdb\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
db = wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [3]:
db.list_tables(library='contrib_global_factor')

['global_factor']

In [4]:
db.describe_table(library='contrib_global_factor', table='global_factor')['name']

Approximately 25331184 rows in contrib_global_factor.global_factor.

0          permno
1          permco
2           gvkey
3             iid
4              id
          ...
438           age
439           qmj
440      qmj_prof
441    qmj_growth
442    qmj_safety
Name: name, Length: 443, dtype: object

In [5]:
USA = db.raw_sql("""
                 SELECT *
                 FROM contrib_global_factor.global_factor
                 WHERE excntry = 'USA'
                 AND obs_main = 1
                 AND common = 1
                 AND primary_sec = 1
                 AND exch_main = 1
                 ORDER BY date, gvkey
                """)

c:\Users\YeonChan Kang\anaconda3\envs\fdb\lib\site-packages\wrds\sql.py:580: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  full_df = pd.concat([full_df, chunk])

In [6]:
# Restrict to main observations
#USA[USA['obs_main']==1]

# Restrict to common stock
#USA[USA['common']==1]

# Restrict to prominent exchanges
#USA[USA['exch_main']==1]

# Restrict to primary listing x month
#USA[USA['pricmary_sec']==1]

In [7]:
USA

,permno,permco,gvkey,iid,id,date,excntry,eom,source_crsp,size_grp,...,bidaskhl_21d,rvolhl_21d,corr_1260d,betabab_1260d,rmax5_rvol_21d,age,qmj,qmj_prof,qmj_growth,qmj_safety
0,12079.0,20799.0,None,None,12079.0,1925-12-31,USA,1925-12-31,1.0,mega,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,13549.0,22448.0,None,None,13549.0,1925-12-31,USA,1925-12-31,1.0,mega,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,10452.0,22193.0,None,None,10452.0,1925-12-31,USA,1925-12-31,1.0,large,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,14218.0,22506.0,None,None,14218.0,1925-12-31,USA,1925-12-31,1.0,mega,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,14525.0,22533.0,None,None,14525.0,1925-12-31,USA,1925-12-31,1.0,small,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211601,NaN,NaN,349705,01,134970501.0,2024-03-04,USA,2024-03-31,0.0,mega,...,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,NaN,NaN
211602,NaN,NaN,349972,01,134997201.0,2024-03-04,USA,2024-03-31,0.0,mega,...,NaN,NaN,NaN,NaN,NaN,51.0,NaN,NaN,NaN,NaN
211603,NaN,NaN,349994,01,134999401.0,2024-03-04,USA,2024-03-31,0.0,mega,...,NaN,NaN,NaN,NaN,NaN,63.0,NaN,NaN,NaN,NaN
211604,NaN,NaN,352262,01,135226201.0,2024-03-04,USA,2024-03-31,0.0,mega,...,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,NaN,NaN
211605,NaN,NaN,019528,01,101952801.0,2024-03-31,USA,2024-03-31,0.0,None,...,NaN,NaN,NaN,NaN,NaN,147.0,NaN,NaN,NaN,NaN

In [8]:
# Basic - 39
# must: id, eom
#  Except from Basic: gvkey, permno, permco, gvkey, iid, date, excntry, curcd, exch_main, primary_sec, fx, common, comp_tpci, comp_shrcd, comp_exchg, adjft, naics, gics, ff49
#  date, 'source_crsp, size_grp, crsp_exchcd, ret_local, prc_local
# 'sic', 'shares', 'dolvol', 'tvol', 'bidask', 'prc', 'prc_high', 'prc_low', 'ret_lag_dif', 'me', 'ret', 'me_company'
# Main - 153
# Secondary - 251

In [9]:
size_classification = USA[['id', 'eom','size_grp']]

In [10]:
ind_classification = USA[['id', 'eom','sic']]

In [11]:
information = USA[['id', 'eom', 'shares', 'dolvol', 'tvol', 'bidask', 'prc', 'prc_high', 'prc_low', 'ret_lag_dif', 'me', 'ret', 'me_company']]

In [12]:
identifiers = ['date', 'eom']

In [13]:
import time



print ("Sleep 5 seconds from now on...")

time.sleep(300)

print("wake up!")

Sleep 5 seconds from now on...
wake up!

In [14]:
USA.drop(columns=['gvkey', 'permno', 'permco', 'iid', 'excntry','curcd', 'exch_main', 'primary_sec', 'fx', 'common', 'comp_tpci', 'crsp_shrcd', 'comp_exchg', 'adjfct', 'naics', 'gics', 'ff49'], inplace=True)

In [15]:
time.sleep(300)

In [16]:
USA.drop(columns=['sic', 'shares', 'dolvol', 'tvol', 'bidask', 'prc_high', 'prc_low', 'ret_lag_dif', 'me', 'ret', 'me_company'], inplace=True)

In [17]:
time.sleep(300)

In [18]:
USA.drop(columns=['date', 'source_crsp','size_grp', 'obs_main', 'crsp_exchcd', 'prc_local', 'ret_local'], inplace=True)

In [19]:
USA

,id,eom,prc,ret_exc,ret_exc_lead1m,market_equity,enterprise_value,book_equity,assets,sales,...,bidaskhl_21d,rvolhl_21d,corr_1260d,betabab_1260d,rmax5_rvol_21d,age,qmj,qmj_prof,qmj_growth,qmj_safety
0,12079.0,1925-12-31,117.500,NaN,0.071517,606.41750,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,13549.0,1925-12-31,64.500,NaN,0.010615,238.77900,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,10452.0,1925-12-31,41.875,NaN,-0.044742,16.75000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,14218.0,1925-12-31,95.000,NaN,-0.000319,266.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,14525.0,1925-12-31,113.000,NaN,0.072270,11.30000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211601,134970501.0,2024-03-31,7.910,NaN,NaN,347.24900,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,NaN,NaN
211602,134997201.0,2024-03-31,2.360,NaN,NaN,19.82636,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,51.0,NaN,NaN,NaN,NaN
211603,134999401.0,2024-03-31,1.490,NaN,NaN,4.72330,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,63.0,NaN,NaN,NaN,NaN
211604,135226201.0,2024-03-31,11.470,NaN,NaN,615.80136,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,NaN,NaN
211605,101952801.0,2024-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,147.0,NaN,NaN,NaN,NaN

In [20]:
len(USA.columns)

408

In [21]:
from scipy.stats import skew, kurtosis, pearsonr, spearmanr

In [22]:
def cal_cs_stats(df, time_column, value_column, additional_percentiles=False):
    """
    Calculate cross-sectional statistics for each time period.
    
    Args:
        df (pd.DataFrame): The data frame containing the data.
        time_column (str): The name of the column representing time periods.
        value_column (str): The name of the column representing the values of X.
        additional_percentiles (list of float): Additional percentiles to calculate (optional).
    
    Returns:
        pd.DataFrame: A data frame containing the calculated statistics for each time period.
    """
    if additional_percentiles:
        additional_percentiles_list = [0.01, 0.02, 0.03, 0.04, 0.96, 0.97, 0.98, 0.99]

    # Function to calculate the required statistics for a given period
    def calc_period_stats(group, additional_percentiles=additional_percentiles):
        stats = {
            'Time': group[time_column].iloc[0],  # Time column
            'Mean': group[value_column].mean(),
            'SD': group[value_column].std(),
            'Skew': skew(group[value_column], nan_policy='omit'),
            'Kurt': kurtosis(group[value_column], nan_policy='omit'),
            'Min': group[value_column].min(),
            'Median': group[value_column].median(),
            'Max': group[value_column].max(),
            'P5': group[value_column].quantile(0.05),
            'P25': group[value_column].quantile(0.25),
            'P75': group[value_column].quantile(0.75),
            'P95': group[value_column].quantile(0.95),
            'N': group[value_column].count()
        }
        
        if additional_percentiles:
            for percentile in additional_percentiles_list:
                stats[f'P{int(percentile*100)}'] = group[value_column].quantile(percentile)
        
        return pd.Series(stats)
    
    # Group the data by the time column and apply the function
    stats_df = df.groupby(time_column).apply(calc_period_stats).reset_index(drop=True)
    
    
    return stats_df

In [24]:
prc_cs_sum = cal_cs_stats(USA, 'eom', 'prc', additional_percentiles=False)

C:\Users\YeonChan Kang\AppData\Local\Temp\ipykernel_42812\2504332190.py:42: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  stats_df = df.groupby(time_column).apply(calc_period_stats).reset_index(drop=True)

In [26]:
def cal_ts_averages(stats_df):
    """
    Calculate the time-series averages of the cross-sectional statistics.
    
    Args:
        stats_df (pd.DataFrame): A data frame containing cross-sectional statistics for each time period.
    
    Returns:
        pd.Series: A series containing the time-series averages of the cross-sectional statistics.
    """
    # Exclude the time column for averaging
    stats_to_average = stats_df.drop(columns=['Time'])
    
    # Calculate the time-series averages
    time_series_averages = stats_to_average.mean()
    
    df = pd.DataFrame(time_series_averages).T

    return df

In [27]:
cal_ts_averages(prc_cs_sum)

,Mean,SD,Skew,Kurt,Min,Median,Max,P5,P25,P75,P95,N
0,36.680541,726.448972,33.650651,2279.164862,0.40945,18.038306,50310.431655,2.732528,8.656622,33.308634,73.641128,3520.844915

In [28]:
def cal_cs_stats(df, time_column, value_column, additional_percentiles=False):
    """
    Calculate cross-sectional statistics for each time period.
    
    Args:
        df (pd.DataFrame): The data frame containing the data.
        time_column (str): The name of the column representing time periods.
        value_column (str): The name of the column representing the values of X.
        additional_percentiles (list of float): Additional percentiles to calculate (optional).
    
    Returns:
        pd.DataFrame: A data frame containing the calculated statistics for each time period.
    """
    if additional_percentiles:
        additional_percentiles_list = [0.01, 0.02, 0.03, 0.04, 0.96, 0.97, 0.98, 0.99]

    # Function to calculate the required statistics for a given period
    def calc_period_stats(group, additional_percentiles=additional_percentiles):
        stats = {
            'Time': group[time_column].iloc[0],  # Time column
            'Mean': group[value_column].mean(),
            'SD': group[value_column].std(),
            'Skew': skew(group[value_column], nan_policy='omit'),
            'Kurt': kurtosis(group[value_column], nan_policy='omit'),
            'Min': group[value_column].min(),
            'Median': group[value_column].median(),
            'Max': group[value_column].max(),
            'P5': group[value_column].quantile(0.05),
            'P25': group[value_column].quantile(0.25),
            'P75': group[value_column].quantile(0.75),
            'P95': group[value_column].quantile(0.95),
            'N': group[value_column].count()
        }
        
        if additional_percentiles:
            for percentile in additional_percentiles_list:
                stats[f'P{int(percentile*100)}'] = group[value_column].quantile(percentile)
        
        return pd.Series(stats)
    
    # Group the data by the time column and apply the function
    stats_df = df.groupby(time_column).apply(calc_period_stats).reset_index(drop=True)
    
    
    return stats_df

In [30]:
def cal_corr(group, var1, var2, option='all'):
    """
    Calculate the correlation between two variables for a given period.

    Args:
        group (pd.DataFrame): The data for the given period.
        var1 (str): The name of the first variable.
        var2 (str): The name of the second variable.
        option (str): The correlation type to calculate ('pearson', 'spearman', or 'all'). Defaults to 'all'.
        
    Returns:
        pd.Series: A series containing the correlation between the two variables.
    """
    if option == 'pearson':
        pearson_corr, _ = pearsonr(group[var1], group[var2])
        return pd.Series({'Pearson': pearson_corr})
    elif option == 'spearman':
        spearman_corr, _ = spearmanr(group[var1], group[var2])
        return pd.Series({'Spearman': spearman_corr})
    elif option == 'all':
        pearson_corr, _ = pearsonr(group[var1], group[var2])
        spearman_corr, _ = spearmanr(group[var1], group[var2])
        return pd.Series({'Pearson': pearson_corr, 'Spearman': spearman_corr})
    else:
        raise ValueError("Invalid option for correlation type. Choose from 'pearson', 'spearman', or all'.")

In [33]:
cal_corr(USA, 'ret_exc', 'book_equity', option='all')

ValueError: array must not contain infs or NaNs

In [ ]:
def cal_ts_avcorr(correlations_df):
    """
    Calculate the time-series averages of the periodic cross-sectional correlations.
    
    Args:
        correlations_df (pd.DataFrame): A data frame containing the periodic correlations.
    
    Returns:
        pd.DataFrame: A data frame containing the time-series average Pearson and Spearman correlations.
    """
    avg_corrs = correlations_df.groupby(['Var1', 'Var2'])[['Pearson', 'Spearman']].mean().reset_index()
    return avg_corrs

In [ ]:
def create_corr_mat(avg_corrs, variables):
    """
    Create a correlation matrix with Pearson correlations below the diagonal and Spearman correlations above the diagonal.
    
    Args:
        avg_corrs (pd.DataFrame): A data frame containing the average correlations.
        variables (list of str): List of column names representing the variables.
    
    Returns:
        pd.DataFrame: A correlation matrix.
    """
    matrix = pd.DataFrame(index=variables, columns=variables)

    for _, row in avg_corrs.iterrows():
        var1, var2 = row['Var1'], row['Var2']
        pearson, spearman = row['Pearson'], row['Spearman']
        matrix.at[var1, var2] = f"{spearman:.2f}"
        matrix.at[var2, var1] = f"{pearson:.2f}"
    
    np.fill_diagonal(matrix.values, np.nan)
    return matrix